/* BEGIN color theme */
html {
	--text: #f9efdc;
	--background: #141910;
	--primary: #bba677;
	--secondary: #2b2d3b;
	--accent: #4a5ac9;
}
/* END color theme */

/* BEGIN mail link animation */
a.mail {
	text-decoration: none;
	z-index: 1;
}

a.mail:before {
	content: "";
	background: var(--primary);
	position: absolute;
	width: 120%;
	height: 5px;
	bottom: 0;
	left: -10%;
	border-radius: 5px;
	transform: scaleX(0);
	animation: 0.7s forwards no-hover-v linear;
	animation-fill-mode: forwards;
	z-index: -1;
}
a.mail:hover:before,
a.mail:active:before,
a.mail:focus:before {
	animation: 0.25s forwards hover-v linear;
	animation-fill-mode: forwards;
}
@keyframes hover-v {
	0% {
		transform: scaleX(0);
		height: 5px;
	}
	45% {
		transform: scaleX(1.05);
		height: 5px;
	}
	55% {
		height: 5px;
	}
	100% {
		transform: scaleX(1.05);
		height: 1.25em;
	}
}
@keyframes no-hover-v {
	0% {
		transform: scaleX(1.05);
		height: 1.25em;
	}
	45% {
		height: 5px;
	}
	55% {
		transform: scaleX(1.05);
		height: 5px;
		opacity: 1;
	}

	100% {
		transform: scaleX(0);
		height: 5px;
		opacity: 0.02;
	}
}
/* END mail link animation */
