/* FONT DECLARATION BEGIN */
@font-face {
	font-family: "EB Garamond";
	src: local("EB Garamond"),
		url("/src/assets/fonts/EBGaramond-VariableFont_wght.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Ysabeau Office";
	src: local("Ysabeau Office"),
		url("/src/assets/fonts/YsabeauOffice-VariableFont_wght.ttf");
	font-display: swap;
}
/* FONT DECLARATION END */

/* TYPE SCALE BEGIN */
h1,
h2,
h3,
h4,
h5 {
	font-family: "EB Garamond";
	font-weight: 400;
}
body {
	font-family: "Ysabeau Office";
	font-weight: 400;
}

html {
	font-size: 100%;
} /* 16px */

h1 {
	font-size: 3.053rem; /* 48.8px */
}

h2 {
	font-size: 2.442rem; /* 39.04px */
}

h3 {
	font-size: 1.954rem; /* 31.2px */
}

h4 {
	font-size: 1.563rem; /* 24.96px */
}

h5 {
	font-size: 1.25rem; /* 20px */
}

small {
	font-size: 0.8rem; /* 12.8px */
}
/* TYPE SCALE END */

*,
*:after,
*:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	border: 0 none;
	position: relative;
	outline: none;
}

:root {
	line-height: 5em;

	color-scheme: light dark;
	color: var(--background);
	background-color: var(--text);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

header,
footer {
	padding: 20px;
}

footer {
	position: fixed;
	bottom: 0;
}

h1,
h2,
a,
p {
	color: var(--background);
	text-decoration: var(--background);
	transition: text-decoration-color 300ms;
}

ul {
	list-style: none;
}

ul,
li {
	display: inline;
	margin-right: 15px;
}
